<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchAutoRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchAutoRecorder.Properties.Settings>
            <setting name="Streamer" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FilenameTemplate" serializeAs="String">
                <value>{streamer}_{date}_{time}_{game}</value>
            </setting>
            <setting name="DelayBeforeRecord" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Debounce" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SplitOnGameChange" serializeAs="String">
                <value>True</value>
            </setting>
        </TwitchAutoRecorder.Properties.Settings>
    </userSettings>
</configuration>